:root {
    --StrongCyan: hsl(172, 67%, 45%);
    --VeryDarkCyan: hsl(183, 100%, 15%);
    --DarkGrayishCyan: hsl(186, 14%, 43%);
    --GrayishCyan: hsl(184, 14%, 56%);
    --LightGrayishCyan: hsl(185, 41%, 84%);
    --VeryLightGrayishCyan: hsl(189, 41%, 97%);
    --White: hsl(0, 0%, 100%);
}

body {
    font-family: "Space Mono", sans-serif;
    background-color: var(--LightGrayishCyan);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    height: 100vh;
    overflow-x: hidden;
}

main {
    background-color: var(--White);
    padding: 1.5rem;
    border-radius: 0.8rem;
    max-width: 100vw;
}
.top-span {
    padding: 1.5rem 0;
}

/* texts design */
label, .select-tip {
    font-weight: bold;
    color: var(--GrayishCyan);
}

/* Inputs */
.bill-container {
    position: relative;
    width: 91%;
    max-width: 100%; /*Just added*/
}
input[type=text] {
    width: 100%;
    padding: 0.5rem 0.8rem;
    text-align: right;
    font-weight: 700;
    font-size: 1.5rem;
    background-color: var(--VeryLightGrayishCyan);
    border: none;
    border-radius: 5px;
    color: var(--VeryDarkCyan);
}
input[type="text"]::placeholder{
    color: var(--VeryDarkCyan);
    opacity: 0.5;
}
input[type="text"]:focus {
    border: 0.125rem solid var(--StrongCyan);
    outline: none;
}
.bill-img {
    position: absolute;
    left: 0.5rem;
    top: 0.7rem;
}
.person {
    position: absolute;
    left: 0.5rem;
    top: 0.7rem;
}


/* Tips button design */
.tips {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
}
.span-buttons {
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    padding: 0.625rem 0;
    margin: 0.31rem 0;
    background-color: var(--VeryDarkCyan);
    color: var(--White);
}
.tips .hot-buttons {
    margin-top: 0.3rem;
    height: 28px;
    width: 83%;
    background-color: var(--VeryLightGrayishCyan);
    color: var(--VeryDarkCyan);
}
.tips .hot-buttons::placeholder {
    color: var(--VeryDarkCyan);
    opacity: 0.7;
    text-align: center;
}
.select-tip, .some-numbers {
    display: inline-block;
    margin: 1rem 0;
}


/* Second subordinate design section */
.second-subordinate {
    border-radius: 0.625rem;
    padding: 1.3rem;
    background-color: var(--VeryDarkCyan);
    margin-top: 2rem;
}
.first, .second {
    line-height: 0.8rem;
    color: var(--White);
} 
.third {
    padding-top: 1.3rem;
    display: flex;
    justify-content: center;
}
.amount, .total {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 1rem;
    align-items: center;
}
.first{
    grid-column: 1/2;
    grid-row: 1;
}
.original-amount {
    grid-column: 3/4;
    grid-row: 1/-1;
}
.second {
    grid-column: 1/2;
    grid-row: 1;
}
.original-total {
    grid-column: 3/4;
    grid-row: 1/-1;
}
.slash-person{
    opacity: 0.5;
}
.reset {
    padding: 1rem 7.18rem;
    font-weight: bold;
    font-size: 1rem;
    background-color: var(--StrongCyan);
    border: none;
    border-radius: 0.3rem;
    color: var(--VeryDarkCyan);
}


/* Dollar design */
.tip-dollar {
    width: 0.9rem;
    height: 1.37rem;
}
.output {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--StrongCyan);
}


/* Desktop view */
@media (min-width: 56.25rem) {
    main {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }
    .first-subordinate {
        padding: 2rem; 
    }
    .tips {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .span-buttons:nth-of-type(1) {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .span-buttons:nth-of-type(2) {
        grid-column: 2/3;
        grid-row: 1/2;
    }
    .span-buttons:nth-of-type(3) {
        grid-column: 3/4;
        grid-row: 1/2;
    }
    .span-buttons:nth-of-type(4) {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .span-buttons:nth-of-type(5) {
        grid-column: 2/3;
        grid-row: 2/3;
    }
    .hot-buttons {
        grid-column: 3/4;
        grid-row: 2/3;
    }
    .span-buttons {
        padding: 1.2rem;
    }
    .tips .hot-buttons {
        padding: 1rem;
    }

    /* Inputs */
    .bill-container {
        width: 95%;
    }

    /* reset button design */
    .third {
        padding-top: 9rem;
    }
}