:root {
    --StrongCyan: hsl(172, 67%, 45%);
    --VeryDarkCyan: hsl(183, 100%, 15%);
    --DarkGrayishCyan: hsl(186, 14%, 43%);
    --GrayishCyan: hsl(184, 14%, 56%);
    --LightGrayishCyan: hsl(185, 41%, 84%);
    --VeryLightGrayishCyan: hsl(189, 41%, 97%);
    --White: hsl(0, 0%, 100%);
}

body {
    font-family: "Space Mono", sans-serif;
    background-color: var(--LightGrayishCyan);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
    height: 100vh;
}

main {
    background-color: var(--White);
    padding: 1.5rem;
    border-radius: 0.8rem;
}

.first-subordinate {
    border: 2px solid brown;
}
.second-subordinate {
    border: 2px solid brown;
    padding: 1rem;
}


/* Inputs */
.bill-container {
    position: relative;
    width: 91%;
}
input[type=text] {
    width: 100%;
    padding: 0.5rem 0.8rem;
    text-align: right;
    font-weight: 700;
    font-size: 1.5rem;
    background-color: var(--VeryLightGrayishCyan);
    border: none;
    border-radius: 5px;
    color: var(--VeryDarkCyan);
}
input[type="text"]::placeholder{
    color: var(--VeryDarkCyan);
    opacity: 0.5;
}
input[type="text"]:focus {
    border: 2px solid var(--StrongCyan);
    outline: none;
}
.bill-img {
    position: absolute;
    left: 0.5rem;
    top: 0.7rem;
}
.person {
    position: absolute;
    left: 0.5rem;
    top: 0.7rem;
}

/* Tips button design */
.tips {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
}
.span-buttons {
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    padding: 0.625rem 0;
    margin: 0.31rem 0;
    background-color: var(--VeryDarkCyan);
    color: var(--White);
}
.tips .hot-buttons {
    margin-top: 5px;
    height: 28px;
    width: 83%;
    background-color: var(--VeryLightGrayishCyan);
    color: var(--VeryDarkCyan);
}
.tips .hot-buttons::placeholder {
    color: var(--VeryDarkCyan);
    opacity: 0.7;
    text-align: center;
}
.select-tip, .some-numbers {
    display: inline-block;
    margin: 1rem 0;
}